.header .navigation .cover #mobile-menu {
  display: none;
  position: relative;
  z-index: 4;
}

.header .mobile-nav {
  position: fixed;
  top: 0;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  width: 300px;
  padding-top: 110px;
  background: #ffffff;
  right: -300px;
  z-index: 3;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: all ease 0.3s;
}

.header .mobile-nav.slide {
  right: 0;
  transition: all ease 0.3s;
}

.header .mobile-nav .content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
}

.header .mobile-nav .content a {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1;
  font-weight: 700;
  color: #000000;
}

.header .mobile-nav .content a.active {
  color: #fd664c;
}

.header .mobile-nav .content .button {
  background: #000000;
  color: #ffffff;
  text-align: center;
  padding: 15px 10px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.header .mobile-nav .content .button.cart {
  background: linear-gradient(180deg, #fd664c 0%, #ff8671 100%);
}

@media only screen and (max-width: 1100px) {
  footer .wrapper .lower {
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
  }

  footer .wrapper .lower .statement {
    width: 100%;
    max-width: 800px;
  }

  footer .wrapper .lower .copyright {
    text-align: center;
    justify-content: center;
  }

  footer .wrapper .lower .copyright p {
    width: 100%;
  }
}

@media only screen and (max-width: 1070px) {
  .shop > .shopcover > .detail > .left {
    flex-direction: column;
    border: none;
  }

  .shop > .shopcover > .detail > .left .product_option {
    width: 100%;
    border: solid 1px rgba(0, 0, 0, 0.2);
  }

  .shop > .shopcover > .detail > .left .product_image {
    margin: 0 auto;
    padding-bottom: 30px;
  }
}

@media only screen and (max-width: 1024px) {
  .vitaminstick .vitaminstick_content .image_banner {
    width: 250px;
  }

  .vitaminstick .vitaminstick_content .product_benefits {
    width: calc(100% - 300px);
  }

  .media > .mediacover > .list a {
    width: 23.5%;
  }

  .whybanner > .bannercover > .list {
    flex-wrap: wrap;
  }

  .whybanner > .bannercover > .list .box .banner img {
    max-width: 500px;
  }

  .quote > .quotecover > .list {
    float: none;
    width: 100%;
    flex-wrap: wrap;
  }

  .quote > .quotecover > .list .box {
    width: calc(50% - 10px);
  }

  .contact > .contactcover > .cover > .title {
    width: 100%;
    text-align: center;
  }

  .contact > .contactcover > .cover {
    padding-bottom: 50px;
  }

  .contact > .contactcover > .cover > .enquiry {
    position: relative;
    width: 100%;
    max-width: 520px;
    top: initial;
    left: initial;
    margin: 0 auto;
  }

  .contact > .background {
    height: auto;
    padding: 0;
  }

  .contact .background .address {
    width: 100%;
  }

  .mainbanner .secondbox > .bannercover > .image > .circle1 {
    left: 0;
    top: initial;
    bottom: 0;
    width: 350px;
    height: 350px;
  }

  .mainbanner .secondbox > .bannercover > .content > .cover > h2 {
    width: auto;
    padding-left: 200px;
  }

  .mainbanner .secondbox > .bannercover > .image > img {
    width: 400px;
  }

  .mainbanner .firstbox > .bannercover > .image {
    width: 350px;
  }

  .mainbanner .firstbox > .bannercover > .content > .cover > h2 {
    padding-right: 400px;
    width: auto;
  }

  .mainbanner .firstbox > .bannercover > .image > img {
    width: 400px;
  }

  .dashboard > .dashcover > .sidemenu {
    z-index: 2;
    width: 100%;
    max-width: 280px;
  }

  .sidemenu-mobile {
    display: block;
  }

  .sidemenu-cover {
    border: 1px solid #d7d7d7;
    position: absolute;
    left: 0;
    top: 61px;
    width: 100%;
    background: #ffffff;
    display: none;
  }

  .widget > .widgetcover > .left,
  .widget > .widgetcover > .right {
    width: 100%;
    float: none;
  }

  .widget > .widgetcover {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .widget > .widgetcover > .left {
    display: flex;
    flex-wrap: wrap;
  }

  .dashboard > .dashcover > .sidemenu {
    float: none;
    margin-bottom: 50px;
  }

  .dashboard > .dashcover > .content {
    float: none;
    width: 100%;
  }
}

@media only screen and (max-width: 1000px) {
  .header .navigation .cover .left,
  .header .navigation .cover .right {
    display: none;
  }

  .header .navigation .cover {
    justify-content: flex-end;
    padding: 10px 0px;
  }

  .header .navigation .cover #mobile-menu {
    font-size: 40px;
    cursor: pointer;
    display: block;
  }

  .header .navigation .cover .logo {
    bottom: 10px;
  }

  .header .border div,
  .header .border div a {
    color: #000000;
    pointer-events: none;
  }
}

@media only screen and (max-width: 940px) {
  .vitamin_stick-benefit {
    flex-wrap: wrap;
    gap: 2%;
    row-gap: 30px;
  }

  .vitamin_stick-benefit .box {
    width: 32%;
  }

  .product_purchase_wrapper {
    flex-direction: column;
    gap: 20px;
  }

  .product_purchase_wrapper .product_addtocart {
    width: 100%;
    height: auto;
  }

  .product_purchase_wrapper .product_img_slider {
    width: 100%;
    max-width: 520px;
    height: auto;
  }

  .shop_allproduct .other_product_list .box {
    width: 32%;
  }
}

@media only screen and (max-width: 900px) {
  .drinking_games .game-media {
    flex-wrap: wrap;
    align-items: unset;
    justify-content: unset;
  }

  .drinking_games .game-media .image,
  .drinking_games .game-media .video {
    width: 100%;
  }

  .drinking_games .game-media .swiper {
    max-height: 100%;
    height: auto;
  }

  .drinking_games .game-media .image {
    order: 1;
  }

  .drinking_games .game-media .video {
    order: 2;
  }

  .drinking_games .game-media img {
    object-fit: contain;
  }

  .checkout .cover .left .cart_list .item {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .checkout .cover .left .cart_list .item .info {
    width: calc(100% - 140px);
  }

  .shop_promotion_section > .cover .banner,
  .shop_promotion_section > .cover .detail {
    width: 100%;
  }

  .shop_promotion_section > .cover .detail {
    padding-top: 20px;
  }

  .factsbanner > .bannercover > .list {
    flex-wrap: wrap;
    gap: 2%;
    row-gap: 20px;
  }

  .factsbanner > .bannercover > .list .col {
    width: 49%;
  }

  .mainbanner > .bannercover > .image > img {
    width: 300px;
  }

  .midbanner > .bannercover > .image > img {
    width: 400px;
  }

  .midbanner > .bannercover > .image > .circle1 {
    width: 250px;
    height: 250px;
  }

  .widgetbottom > .widgetcover > .left,
  .widgetbottom > .widgetcover > .right {
    width: 100%;
    float: none;
  }

  .widgetbottom > .widgetcover > .right > .newsletter {
    text-align: left;
    padding-top: 20px;
  }

  .widgetbottom > .widgetcover > .right > .social {
    text-align: left;
  }
}

@media only screen and (max-width: 830px) {
  .aboutus > .value > .list {
    flex-wrap: wrap;
  }

  .aboutus > .value > .list .box {
    width: 50%;
  }

  .footerbottom > .footcover {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .media > .mediacover > .list {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    row-gap: 20px;
  }

  .media > .mediacover > .list a {
    width: 32%;
    margin: 0;
  }

  .contact > .note > .notecover > .list {
    flex-wrap: wrap;
  }

  .contact > .note > .notecover > .list .box > .text > span {
    word-break: break-word;
  }

  .header > .headercover > .action {
    display: none;
  }

  .shop > .shopcover > .detail > .left {
    width: 100%;
  }

  .shop > .shopcover > .detail > .left,
  .shop > .shopcover > .detail > .ship {
    margin-bottom: 40px;
  }

  .shop > .shopcover > .detail > .ship {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .home_banner {
    padding: 0 0;
    background-position: center;
  }

  .home_banner .row-cover {
    height: auto;
    min-height: auto;
    padding: 100px 10px;
    background: rgba(0, 0, 0, 0.5);
  }

  .home_banner .row-cover .textbox {
    width: 100%;
    text-align: center;
  }

  .home_banner .row-cover .textbox p {
    font-size: 34px;
    line-height: 1.5;
    color: #ffffff;
  }

  footer .wrapper .upper {
    flex-direction: column;
    gap: 40px;
  }

  footer .wrapper .upper .sitemap {
    width: 100%;
    padding-bottom: 40px;
  }

  .party8-purchase .item-wrapper .product-list .box {
    width: 32%;
  }

  .party8-purchase .item-wrapper .product-list .box.combo {
    width: 66%;
  }

  .video-wrapper .features-video-category .main .title {
    padding: 20px 20px 20px 20px;
  }

  .video-wrapper .features-video-category .sub {
    position: relative;
    right: initial;
    top: initial;
    flex-direction: row;
    width: 100%;
    height: auto;
    padding: 20px 0px;
  }

  .video-wrapper .features-video-category .sub .video {
    height: auto;
    border: 3px solid #234354;
  }

  .video-wrapper .features-video-category .sub .video img {
    object-fit: contain;
  }

  .event_details .event_details_wrap {
    flex-wrap: wrap;
  }

  .event_details .event_details_wrap .info,
  .event_details .event_details_wrap .banner {
    width: 100%;
  }

  .vitaminstick .vitaminstick_content {
    flex-wrap: wrap;
  }

  .vitaminstick .vitaminstick_content .product_benefits,
  .vitaminstick .vitaminstick_content .image_banner {
    width: 100%;
  }

  .vitaminstick .vitaminstick_content .image_banner {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .wedding-gift .pricing #p1 {
    top: 30%;
  }

  .wedding-gift .pricing #p3 {
    left: 0;
    right: initial;
  }

  .wedding-gift .pricing .package {
    flex-wrap: wrap;
    gap: 150px;
  }

  .wedding-gift .pricing .package .item {
    width: 100%;
  }

  .wedding-gift .pricing .package .item .service {
    min-height: auto;
  }

  .wedding-gift .intro .benefits .list {
    flex-wrap: wrap;
    gap: 2%;
    row-gap: 10px;
  }

  .wedding-gift .intro .benefits .list .box {
    width: 49%;
  }

  .wedding-gift #plus1 {
    left: initial;
    right: 0;
  }

  .wedding-gift .intro .banner {
    flex-wrap: wrap;
    padding-bottom: 30px;
  }

  .wedding-gift .intro .banner .text {
    order: 1;
    width: 100% !important;
  }

  .wedding-gift .intro .banner .image {
    order: 2;
    width: 100%;
  }

  .wedding-gift .intro .banner.top .image {
    background-size: contain;
    background-position: center center;
  }

  .wedding-gift .intro .bgflower {
    z-index: -1;
  }

  .shop_allproduct .other_product_list .box {
    width: 49%;
  }

  .checkout .cover {
    flex-direction: column;
  }

  .checkout .cover .left {
    width: 100%;
  }

  .aboutus > .lefttext,
  .aboutus > .righttext {
    flex-wrap: wrap;
  }

  .aboutus > .lefttext > .text,
  .aboutus > .righttext > .text {
    width: 100%;
  }

  .aboutus > .lefttext > .imageslider,
  .aboutus > .righttext > .imageslider {
    width: 100%;
  }

  .aboutus > .lefttext > .text,
  .aboutus > .righttext > .text {
    order: 1;
  }

  .aboutus > .lefttext > .imageslider,
  .aboutus > .righttext > .imageslider,
  .aboutus > .lefttext > .image,
  .aboutus > .righttext > .image {
    order: 2;
  }

  .aboutus > .lefttext > .image {
    width: 100%;
  }

  .night_out .latest_post {
    flex-wrap: wrap;
  }

  .night_out .latest_post .left {
    width: 100%;
    min-height: auto;
    margin-bottom: 30px;
  }

  .night_out .latest_post .right {
    width: 100%;
  }

  .drinking_games .cover .list .game_cover {
    width: 32%;
  }

  .home_topbanner > .cover .title {
    display: block;
  }

  .home_topbanner > .cover .title > h1 {
    font-size: 34px;
    line-height: 1;
  }

  .home_topbanner > .cover .banner > div {
    height: auto;
    margin: 5px 0px;
  }

  .home_topbanner > .cover .banner > div a {
    display: block;
  }

  .factsbanner > .bannercover > .title > h1,
  .itembanner > .bannercover > .content > h1,
  .lastbanner > .bannercover > .content > h1 {
    line-height: 1;
  }

  .whybanner > .bannercover > .title {
    display: none;
  }

  .home_topbanner > .cover {
    flex-direction: column;
    gap: 30px;
  }

  .home_topbanner > .cover .video {
    width: 100%;
  }

  .home_topbanner > .cover .banner {
    width: 100%;
    display: block;
  }

  .quote > .quotecover > .title {
    position: relative;
    width: 100%;
    height: auto;
    padding-bottom: 30px;
  }

  .quote > .quotecover > .quoteswiper .swiper-slide .image img {
    width: 100%;
  }

  .quote > .quotecover > .quoteswiper {
    float: none;
    width: 100%;
  }

  .product-info .wrapper {
    flex-wrap: wrap;
  }

  .product-info .product-effect,
  .product-info .product-detail {
    width: 100%;
  }

  .voucher-popup .content > .voucher > .list {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .voucher-popup .content > .voucher > .list .box {
    width: 100%;
    float: none;
    margin: 0 !important;
  }

  .customer-service {
    min-height: 70vh;
  }

  .customer-service .cover .right {
    width: 100%;
  }

  .customer-service .cover .left {
    padding-bottom: 30px;
  }

  .customer-service .cover .left .mobile-option {
    display: block;
  }

  .customer-service .cover .left .mobile-cover {
    background: #ffffff;
    border: 1px solid #d7d7d7;
    position: absolute;
    left: 0;
    top: 61px;
    width: 100%;
    display: none;
    z-index: 3;
  }

  .mainbanner .secondbox > .bannercover > .image > img {
    width: 250px;
  }

  .mainbanner .secondbox > .bannercover > .image > .circle1 {
    width: 250px;
    height: 250px;
  }

  .mainbanner .firstbox > .bannercover > .image {
    width: 280px;
  }

  .mainbanner .firstbox > .bannercover > .image > img {
    width: 300px;
  }

  .mainbanner .firstbox > .bannercover > .content > .cover > h2 {
    padding-right: 300px;
  }

  .login_register {
    flex-wrap: wrap;
  }

  .login_register .left_box,
  .login_register .right_box {
    min-height: 300px;
    padding: 20px 10px;
    width: 100%;
  }

  .login_register .right_box {
    padding-bottom: 50px;
  }

  .dashboard > .dashcover > .content > .voucher > .list .box {
    width: 100%;
    max-width: 600px;
    float: left;
  }

  .dashboard > .dashcover > .content > .voucher > .list .box:nth-child(even) {
    float: left;
  }
}

@media only screen and (max-width: 660px) {
  .store_locator .store_cover #sidebar,
  .store_locator .store_cover #map,
  .store_locator .store_cover #sidebar #store-list .store {
    width: 100%;
  }

  .store_locator .store_cover {
    flex-direction: column;
    gap: 20px;
  }

  .store_locator .store_cover #sidebar {
    height: 100%;
    padding-right: 0;
  }

  .product-info {
    flex-wrap: wrap;
  }

  .product-info .product-effect,
  .product-info .product-detail {
    width: 100%;
  }

  .review > .reviewcover > .head {
    flex-wrap: wrap;
  }

  .review > .reviewcover > .head > .overall,
  .review > .reviewcover > .head > .chart {
    width: 100%;
  }

  .media > .mediacover > .list a {
    width: 49%;
  }

  .dashboard > .dashcover > .content > .item > .shipment > .address,
  .dashboard > .dashcover > .content > .item > .shipment > .cost {
    width: 100%;
    float: none;
    border-left: none;
  }

  .dashboard > .dashcover > .content > .item > .shipment > .cost {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
}

@media only screen and (max-width: 574px) {
  #signupform .form .input-cover {
    width: 100%;
  }

  footer .wrapper .upper .sitemap {
    flex-wrap: wrap;
    row-gap: 30px;
  }

  footer .wrapper .upper .sitemap .link {
    width: 50%;
  }

  .shop_allproduct .wedding_gift .bgimg {
    position: relative;
    height: 400px;
    width: 100%;

    background-size: cover;
    margin-top: 30px;
  }

  .night_out .others_post .post-cover {
    width: 100%;
  }

  .moments > .cover .moments-list,
  .event_images .moments-list {
    columns: 2;
  }

  .whybanner > .bannercover > .list .box .banner img {
    max-width: 100%;
  }

  .widgetbottom > .widgetcover > .right > .directory .box {
    width: 49%;
  }

  .mainbanner .secondbox > .bannercover > .image > img {
    width: 180px;
  }

  .mainbanner .secondbox > .bannercover > .image > .circle1 {
    width: 180px;
    height: 180px;
  }

  .mainbanner .secondbox > .bannercover > .content > .cover > h2 {
    padding-left: 0;
  }

  .mainbanner .firstbox > .bannercover > .image > img {
    width: 200px;
  }

  .mainbanner .firstbox > .bannercover > .image > .circle1 {
    width: 200px;
    height: 200px;
  }

  .mainbanner .firstbox > .bannercover > .content > .cover > h2 {
    padding-right: 100px;
  }

  .review > .reviewcover > .list .box > .image {
    position: relative;
    height: 300px;
    top: initial;
    left: initial;
    width: 100%;
  }

  .review > .reviewcover > .list .box > .content {
    width: 100%;
  }

  .aboutus > .lefttext > .text {
    padding-top: 0;
  }

  .aboutus > .lefttext > .text,
  .aboutus > .righttext > .text {
    width: 100%;
    padding-bottom: 30px;
    padding-top: 30px;
  }

  .aboutus > .lefttext > .image,
  .aboutus > .righttext > .image {
    position: relative;
    height: 300px;
    width: 100%;
  }

  .aboutus > .righttext > .text {
    padding-top: 30px;
  }

  .aboutus {
    padding-top: 30px;
  }

  .aboutus > .righttext {
    display: flex;
    flex-direction: column;
  }

  .aboutus > .righttext > .image {
    order: 2;
  }

  .quote > .quotecover > .title > span {
    padding-bottom: 20px;
  }

  .itembanner > .bannercover,
  .lastbanner > .bannercover {
    display: flex;
    flex-direction: column;
  }

  .itembanner > .bannercover > .content,
  .lastbanner > .bannercover > .content {
    float: none;
    width: 100%;
  }

  .itembanner > .bannercover > .content {
    order: 2;
  }

  .itembanner > .bannercover > .image,
  .lastbanner > .bannercover > .image {
    position: relative;
    width: 100%;
    top: initial;
    right: initial;
    height: 300px;
  }

  .certified > .certcover > div {
    width: 100%;
    right: initial;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: initial;
    padding-bottom: 40px;
  }

  .midbanner > .bannercover > .image {
    width: 100%;
    max-width: 100%;
  }

  .mainbanner > .bannercover > .image > img {
    width: 200px;
  }

  .midbanner > .bannercover > .image > img {
    width: 300px;
    bottom: initial;
    top: 0;
  }

  .midbanner > .bannercover > .image > .circle1 {
    left: 0;
  }

  .shop > .shopcover > .detail > .left > .option label {
    width: 50%;
  }

  .dashboard > .dashcover > .content > .orders > .list .box > .detail > .name,
  .dashboard
    > .dashcover
    > .content
    > .subscription
    > .list
    .box
    > .detail
    > .name,
  .dashboard > .dashcover > .content > .item > .product > .detail > .name {
    width: calc(100% - 170px);
  }

  .dashboard > .dashcover > .content > .orders > .list .box > .detail > .amount,
  .dashboard > .dashcover > .content > .orders > .list .box > .detail > .cost,
  .dashboard
    > .dashcover
    > .content
    > .subscription
    > .list
    .box
    > .detail
    > .amount,
  .dashboard
    > .dashcover
    > .content
    > .subscription
    > .list
    .box
    > .detail
    > .cost,
  .dashboard > .dashcover > .content > .item > .product > .detail > .amount,
  .dashboard > .dashcover > .content > .item > .product > .detail > .cost {
    height: 60px;
  }

  .shop > .shopcover > .detail > .left > .option label {
    width: 100%;
    margin: 10px 0px;
    max-width: 100%;
  }

  .shop > .shopcover > .detail > .left > .option label:last-child {
    margin: 10px 0px;
  }
}

@media only screen and (max-width: 480px) {
  .party8-products {
    flex-wrap: wrap;
  }

  .party8-products .item {
    width: 100%;
  }

  .vitamin_stick-benefit .box {
    width: 49%;
  }

  .party8-purchase .item-wrapper .product-list .box {
    width: 49%;
  }

  .party8-purchase .item-wrapper .product-list .box.combo {
    width: 100%;
  }

  .ourpartners > .cover .featuredin-logo {
    row-gap: 0px;
  }

  .ourpartners > .cover .featuredin-logo div {
    height: 110px;
  }

  .popup-module .popup-content .redirect_link {
    flex-wrap: wrap;
  }

  .popup-module .popup-content .redirect_link > * {
    width: 100%;
  }

  .vitaminstick .vitaminstick_content .product_benefits .box {
    width: 100%;
  }

  .shop_allproduct .other_product_list .box .product_detail .product_link {
    flex-wrap: wrap;
    row-gap: 10px;
  }

  .shop_allproduct .other_product_list .box .product_detail .product_name,
  .shop_allproduct
    .other_product_list
    .box
    .product_detail
    .product_price
    span {
    font-size: 15px;
  }

  .shop_allproduct .other_product_list .box .product_detail .product_link a {
    width: 100%;
  }

  .location > .locationcover > .title {
    font-size: 34px;
    line-height: 44px;
  }

  .location > .locationcover {
    background-image: url(../images/store_bg_mobile.png);
  }

  .swiper.quoteswiper .quoteswiper-button {
    opacity: 1;
    z-index: 10;
  }

  .ourpartners > .cover .partner-logo {
    gap: 2%;
    row-gap: 30px;
  }

  .ourpartners > .cover .partner-logo div {
    width: 49%;
    box-sizing: border-box;
  }

  .address-popup .content .form .row,
  .add_info_form-popup .content .form .row,
  .voucher-popup .content .form .row {
    width: 100%;
  }

  .checkout .cover .right {
    max-width: 100%;
    width: 100%;
  }

  .night_out .latest_post .left .text {
    font-size: 30px;
  }

  .footerbottom > .footcover > .right {
    text-align: center;
  }

  .footerbottom > .footcover > .right a {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .factsbanner > .bannercover > .list {
    display: none;
  }

  .drinking_games .cover .list .game_cover {
    width: 49%;
  }

  .drinking_games .cover .list .game_cover a .name {
    min-height: 220px;
  }

  .drinking_games .cover .list .game_cover a .name {
    font-size: 25px;
  }

  .drinking_games .cover .list .game_cover a .name .item {
    font-size: 14px;
    line-height: 24px;
  }

  .shop > .shopcover > .detail > .left .head,
  .shop > .shopcover > .detail > .left .option {
    min-height: 150px;
    height: auto;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px 20px;
  }

  .shop > .shopcover > .detail > .left .option label {
    width: 100%;
    margin-right: 0;
  }

  .shop > .shopcover > .detail > .left .product_image {
    width: auto;
    max-width: 300px;
    height: auto;
  }

  .singlepSwiper .swiper-slide {
    width: 100% !important;
  }

  .mobile-list {
    display: block;
  }

  .quote > .quotecover > .list .box {
    width: 100%;
  }

  .widgetbottom > .widgetcover > .right > .directory > .directorycover .box {
    width: 49%;
    margin: 0;
  }

  .customer-service
    .cover
    .right
    .service-content
    .affiliate-form
    .input-cover {
    width: 100%;
  }

  .customer-service
    .cover
    .right
    .service-content
    .affiliate-form
    .button
    input {
    width: 100%;
  }

  .customer-service .cover .right .service-content .affiliate-form textarea {
    height: 150px;
  }

  .mainbanner {
    padding-bottom: 40px;
  }

  .factsbanner > .bannercover > .list .col {
    width: 100%;
  }

  .aboutus > .value > .list .box {
    width: 100%;
  }

  .footerbottom > .footcover > .left {
    text-align: center;
    line-height: 1.5;
  }
  .media > .mediacover > .list a {
    padding: 0px 10px;
  }

  .contact > .contactcover > .cover > .enquiry > .form .inputbox {
    width: 100%;
    float: none;
  }

  .contact > .contactcover > .cover > .enquiry {
    padding: 30px;
  }

  .shop > .shopcover > .detail > .left > .head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .shop > .shopcover > .detail > .left > .head > .amount {
    height: auto;
  }

  .shop > .shopcover > .detail > .left > .head > .image {
    margin-right: 0;
  }

  .widget > .widgetcover > .left .box {
    width: 100%;
  }

  .widget > .widgetcover > .left .box:nth-child(3) {
    margin: 0 0 40px 0;
  }

  .widget > .widgetcover > .left .box > .list a {
    margin-bottom: 10px;
  }

  .dashboard > .dashcover > .sidemenu {
    max-width: 100%;
  }

  .dashboard > .dashcover > .content > .orders > .tab,
  .dashboard > .dashcover > .content > .subscription > .tab {
    flex-wrap: wrap;
    height: auto;
  }

  .dashboard > .dashcover > .content > .orders > .tab a,
  .dashboard > .dashcover > .content > .subscription > .tab a {
    width: 50%;
    border: 1px solid #ffffff;
  }
}

@media only screen and (max-width: 430px) {
  .party8-purchase .options {
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }

  .party8-purchase .options a {
    width: 100%;
    text-align: center;
  }

  .party8-purchase .item-wrapper .product-list .box {
    width: 100%;
  }

  .checkout .cover .left .empty_cart {
    flex-direction: column;
    justify-content: center;
    padding-top: 40px;
  }

  .wedding-gift .ordercontact .email_number {
    flex-direction: column;
  }

  .wedding-gift .intro .benefits .list .box {
    width: 100%;
  }

  .wedding-gift .ordercontact .email_number .box {
    width: 100%;
  }

  .product_purchase_wrapper .product_addtocart .option {
    flex-wrap: wrap;
  }

  .checkout .cover .left .cart_list .item .info {
    width: 100%;
  }

  .product-info .product-detail .row .content .table-responsive {
    overflow-x: auto;
  }

  .product-info
    .product-detail
    .row
    .content
    .table-responsive
    table.nutritionTable {
    width: 400px;
  }

  .mainbanner .firstbox > .bannercover > .content > .cover > h1,
  .mainbanner .secondbox > .bannercover > .content > .cover > h1 {
    font-size: 45px;
    line-height: 55px;
  }

  .widgetbottom > .widgetcover > .terms {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }

  .widgetbottom > .widgetcover > .terms a {
    margin: 0;
  }

  .shop > .shopcover > .detail > .ship > .text {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: column;
  }

  .shop > .shopcover > .detail > .ship > .text > a {
    position: relative;
    right: initial;
    top: initial;
    text-align: center;
  }

  .dashboard
    > .dashcover
    > .content
    > .subscription
    > .list
    .box
    > .fee
    > .text
    > .total,
  .dashboard
    > .dashcover
    > .content
    > .subscription
    > .list
    .box
    > .fee
    > .text
    > .ship {
    float: none;
  }
  .dashboard > .dashcover > .content > .orders > .list .box > .date {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px 20px;
  }

  .dashboard > .dashcover > .content > .orders > .list .box > .date > div {
    height: auto;
    padding-bottom: 5px;
    line-height: 1.5;
  }

  .dashboard > .dashcover > .content > .orders > .list .box > .date > span {
    height: auto;
    line-height: 1;
  }
}

@media only screen and (max-width: 414px) {
  .shop_allproduct .other_product_list .box .product_detail .product_price {
    flex-direction: column;
    gap: 0;
  }
}

@media only screen and (max-width: 380px) {
  .mobile-list .ingredients .ingredientsSwiper .swiper-slide .box {
    background-size: contain;
  }

  .drinking_games .cover .list .game_cover {
    width: 100%;
  }

  .drinking_games .cover .list .game_cover a .name {
    min-height: auto;
  }

  .drinking_games .cover .list .game_cover a .name .item {
    padding-top: 60px;
  }

  .widgetbottom > .widgetcover > .right > .directory > .directorycover .box {
    width: 100%;
  }
  .dashboard > .dashcover > .content > .account > .form .row {
    width: 100%;
  }

  .dashboard > .dashcover > .content > .account > .form .row:nth-child(2) {
    margin-top: 20px;
  }

  .dashboard > .dashcover > .content > .voucher > .search {
    padding-right: 20px;
  }

  .dashboard > .dashcover > .content > .voucher > .search {
    max-width: 100%;
  }

  .dashboard > .dashcover > .content > .voucher > .list .box > .action {
    position: relative;
    width: 100%;
    float: left;
    left: initial;
    top: initial;
    right: initial;
    height: auto;
    text-align: center;
  }

  .dashboard > .dashcover > .content > .voucher > .list .box > .action > a {
    border-radius: 0 0 4px 4px;
  }

  .dashboard > .dashcover > .content > .voucher > .list .box {
    padding-right: 0;
  }

  .dashboard > .dashcover > .content > .account > .title {
    height: auto;
    line-height: 1.5;
    padding-right: 0;
  }

  .dashboard > .dashcover > .content > .orders > .list .box > .detail > .name,
  .dashboard > .dashcover > .content > .item > .product > .detail > .name {
    width: 100%;
    height: auto;
    padding: 20px 0px;
  }

  .dashboard > .dashcover > .content > .account > .profile .row {
    width: 100%;
    float: none;
  }

  .dashboard > .dashcover > .content > .account > .profile .row:nth-child(3) {
    margin: 0 0 20px 0;
  }

  .dashboard > .dashcover > .content > .account > .title > a {
    position: relative;
    right: initial;
    top: initial;
    width: 150px;
    text-align: center;
    margin-top: 10px;
  }

  .dashboard > .dashcover > .content > .account > .shipping > .list .adbox {
    padding-right: 20px;
  }

  .dashboard
    > .dashcover
    > .content
    > .account
    > .shipping
    > .list
    .adbox
    > .action {
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    top: initial;
    right: initial;
  }

  .subheader > .headercover > .right > a.feedback {
    display: none;
  }

  .dashboard > .dashcover > .content > .orders > .list .box > .fee > .action {
    display: flex;
    justify-content: space-between;
  }
  .dashboard > .dashcover > .content > .orders > .list .box > .fee > .action a {
    margin-left: 0;
  }

  .dashboard > .dashcover > .content > .orders > .list .box > .fee > .text {
    display: flex;
    flex-direction: column;
  }
}

/* header queries */
@media only screen and (max-width: 1200px) {
}

@media only screen and (max-height: 460px) {
  .home_banner {
    padding: 0 0;
    background-position: center;
  }

  .home_banner .row-cover {
    height: auto;
    min-height: auto;
    padding: 100px 10px;
    background: rgba(0, 0, 0, 0.5);
  }

  .home_banner .row-cover .textbox {
    width: 100%;
    text-align: center;
  }

  .home_banner .row-cover .textbox p {
    font-size: 34px;
    line-height: 1.5;
    color: #ffffff;
  }
}
